.container {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  border-radius: 5px;
  background-color: #f2f2f2;
  /* background-image: '../../../assets/images/logo-ada.jpeg'; */
  padding: 20px;
}