<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<div class="container">
	<div class="row justify-content-center">
		<div class="col-12 body-main">
      <div class="panel">
        <!-- <div class="panel-heading text-center">
            <h1>Pricing</h1>
        </div> -->
        <div class="panel-body">
          <div class="col-10 col-lg-10 col-md-10 col-sm-10">
            <h1>Microblading</h1>
						<p>350</p>
            <hr/>
						<h1>Ombre/Powder</h1>
						<p>400</p>
            <hr/>
						<h1>Combo Brows</h1>
						<p>450</p>
            <hr/>
						<h1>Colour Correction</h1>
						<p>100</p>
            <hr/>
            <p id="fineprint">(All procedures includes free touch up after 6-8 weeks of initial appointment.)</p>
            <br>
            <h1>Touch-up</h1>
            <hr/>
            <p>*within 3-6 months - $150</p>
            <p>*within 6-12 months - $200</p>
            <p>*within 1-2 years - $250</p>
            <p>*after 2 years - Full Price</p>
            <p id = "fineprint">*Prices are subject to chagne at anytime</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
