<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<div class="container">
	<div class="row justify-content-center">
		<div class="col-12 body-main">
                <div class="panel">
                    <div class="panel-heading">
                        <h1>back door access</h1>
                    </div>
                <div class="panel-body">
                    <div class="col-6 col-lg-6 col-md-6 col-sm-6">
                            <h2>welcome back!</h2>
                            <hr/>
                        <p>
                          Easily manage all your appointments with one simple log in. If you've run into this page unexpectedly, please return to the home page.
                        </p>
                    </div>
                    <div class="col-6 col-lg-6 col-md-6 col-sm-6">
                    <form role="form" method="post" action="https://script.google.com/macros/s/AKfycbxrZdSrah88Qah8Ksm8bBcXMPiZpVXlXc4An4MSKQ/exec">
                      <div class="panel rounded-0">
                            <div class="panel-heading p-0">
                                <div class="bg-main-1 text-white text-center py-2">
                                    <h3><i class="fa fa-envelope"></i> Admin Sign in</h3>
                                    <p class="m-0">Welcome back ada! <a routerLink="">Not ada?</a></p>
                                </div>
                            </div>
                            <div class="panel-body p-3">

                                <!--Body-->
                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-user text-info"></i></div>
                                        </div>
                                        <input type="text" [(ngModel)]='username' class="form-control" id="username" name="username" placeholder="username" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-user text-info"></i></div>
                                        </div>
                                        <input type="password" [(ngModel)]='password' class="form-control" id="password" name="password" placeholder="password" required>
                                    </div>
                                </div>
                                <div class="text-left">
                                    <input style="width: 40%;" class="btn bg-main-1" (click)="submit()" value="✓">
                                    <input style="width: 40%; float: right;" class="btn bg-main-1" type="reset" value="x">
                                </div>
                            </div>
                        </div>
                    </form>
                </div> <!-- panel -->
                </div>
                    <!--Form with header-->


                </div>
	</div>
</div>