<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<div class="container">
	<div class="row justify-content-center">
		<div class="col-12 body-main">
			<div class="panel">
				<div class="panel-heading text-center">
					<h1>Policy</h1>
				</div>
				<div class="panel-body">
					<div class='col-10 col-lg-10 col-md-10 col-sm-10 col-md-offset-1 col-lg-offset-1 col-sm-offset-1'>
						<h2>Cancellation/No Show:</h2>
						<hr/>
						<p>
							Cancellations/no shows will result in losing your NON-REFUNDABLE $50 deposit. Please contact me at least 72 hours before your appointment if you’d like to reschedule to avoid forfeiture of your deposit. This is to ensure our time is respected. 
						</p>
						<br>
						<h2>Deposits:</h2>
						<hr/>
						<p>
							All appointments require a NON-REFUNDABLE $50 deposit towards the full procedure. If you wish to reschedule your appointment, you must notify me 72 hours prior to your initial appointment. Failure to do so will result in the forfeiture of your deposit.
						</p>
						<br>
						<h2>Late:</h2>
						<hr/>
						<p>
							If you are more than 15 minutes late we will have to reschedule due to the fact that I have appointments back to back and do not want to rush through appointments.
						</p>
						<br>
						<h2>Rescheduling:</h2>
						<hr/>
						<p>
							There is a cancellation/rescheduling fee of $50. I am usually very booked so please try to stick to our scheduled appointment or give me a 72 hours notice. 
						</p>
				</div>
			</div>
		</div>
	</div>
</div>