<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<div class="container">
	<div class="row justify-content-center">
		<div class="col-12 body-main">
      <div class="panel">
        <div class="panel-heading text-center">
          <h1>Frequently Asked Questions</h1>
        </div>
        <div class="panel-body">
          <div class='col-10 col-lg-10 col-md-10 col-sm-10 col-md-offset-1 col-lg-offset-1 col-sm-offset-1'>
            <h2>What is microblading?</h2>
            <hr/>
            <p>Microblading is a form of semi permanent makeup, also referred to as cosmetic tattooing, micro-pigmentation, eyebrow embroidery, feather brows or 3D brows.  It is the procedure of placing colour into the dermal layer of the skin. Pigment is implanted using a pen-like device with a disposable microblade attached, to stroke very thin lines of pigment into the skin to mimic hair where it is lacking in eyebrows or scalp. The result are the most natural looking hair-like strokes, regardless of the amount of hair present. This lasts up to 2 years.</p>
            <br>
            <h2>What is ombre/powder?</h2>
            <hr/>
            <p>An ombre/powder brow is a form of semi permanent makeup that gives a similar effect to wearing makeup on your eyebrows. The procedure is performed using a micro-pigmentation machine. The results tend to last longer than microblading as the pigment is inserted deeper than the manual method of microblading. This lasts up to 3 years.</p>
            <br>
            <h2>What is microshading/combo brows?</h2>
            <hr/>
            <p>Microshading/combo brows is a combination of hand drawn strokes for the fronts of the brow and ombre in the ends. This creates a natural ombre look with hair strokes in the front and powder in the back. This procedure is performed using a pen-like device with a disposable microblading and a micro-pigmentation machine. This lasts up to 3 years.</p>
            <br>
            <h2>Am I a good candidate for permanent makeup/microblading?</h2>
            <hr/>
            <p>You may NOT be a good candidate for permanent makeup/microblading if:</p>
            <ul>
              <li>Taking Isoretinoin (Accutane)</li>
              <li>Under the age of 18</li>
              <li>Pregnant or Nursing</li>
              <li>Tendency to Keloid scar </li>
              <li>Botox in the brow area which has altered the placement of your brows (please wait 2 months for the effects to wear off)</li>
              <li>You generally don’t heal well and develop infections easily</li>
              <li>Serious diseases that can affect your body's healing process,  such as cancer or autoimmune disorders (please consult with your physician)</li>
              <li>Bleeding Disorders (please consult with your physician)</li>
            </ul>
            <p>If you are taking any medications that contain blood thinners or affect your body's ability to heal, please consult with your physician with regards to getting a tattoo.</p>
            <br>
            <h2>Does it hurt?</h2>
            <hr/>
            <p>Everyone responds differently to anesthetic; depending on the client, the feeling of the procedure has been compared to threading or waxing, while others report feeling barely any pain at all. I use two types of very effective topical anesthetic. We always do our best to make sure you are comfortable. Topical anesthetics used may contain lidocaine, prilocaine, benzocaine, tetracaine and epinephrine. After the procedure, redness and slight swelling in the area is normal.  Clients describe the area feeling similar to a light sunburn.  Clients can take Tylenol but not aspirin or ibuprofen.</p>
            <br>
            <h2>How long will the appointment take?  Will I need consultation?</h2>
            <hr/>
            <p>Consultation is generally on the same day as the procedure. 1 hour of consultation and brow perfecting and 1 hour of the initial procedure. It will be a total of 2-2.5 hours for the entire appointment depending on your desired shape and thickness.</p>
            <br>
            <h2>What pigments are used?</h2>
            <hr/>
            <p>The pigments used in cosmetic tattooing come in a variety of colors that are specially formulated. I use iron oxide pigments; these pigments fade over time as your body will naturally absorb it. They are considered the safest semi-permanent pigments to use for skin.</p>
            <br>
            <h2>How do I know the equipment is clean and sterile?</h2>
            <hr/>
            <p>My needles are sealed and packaged and opened right before starting the procedure. They are only used for one procedure and then safely discarded. My trays, beds, and other instruments are sterilized before and after every procedure.</p>
            <br>
            <h2>Are you able to touch up another artist’s work?</h2>
            <hr/>
            <p>I am able to touch up another artist’s work, but unfortunately it will be full price as the original brow was not done by me and may be even more difficult to correct.</p>
            <br> 
            <h2>What is the aftercare process?</h2>
            <hr/>
            <p>Please refer to my prep and aftercare page.</p>
            <br>
            <h2>​If you still have more questions or inquiries, feel free to email me at <a href="mailto:adashum@hotmail.com">adashum@hotmail.com</a> or text me at 778-233-3682!! ( no phone calls please )</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>