<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<div class="container">
	<div class="row justify-content-center">
		<div class="col-12 body-main">
			<div class="panel">
				<!-- <div class="panel-heading text-center">
					<h1>Prep/Aftercare</h1>
				</div> -->
				<div class="panel-body">
					<div class='col-10 col-lg-10 col-md-10 col-sm-10 col-md-offset-1 col-lg-offset-1 col-sm-offset-1'>
						<h2>Prep:</h2>
						<hr/>
						<ul>
							<li>Do NOT DRINK ALCOHOL or CAFFEINE before the procedure (at least 24hrs for alcohol)</li>
							<li>Do NOT TAKE ADVIL or other blood thinners such a Aspirin, Niacin, Vitamin E and/or Ibuprofen unless medically necessary, 48-72 hrs prior to your procedure. Extra strength Tylenol can be taken if you have low pain tolerance.</li>
							<li>Highly recommended that you avoid sun tanning 30 days before and after your procedure; this will affect the outcome of the healed colour.</li>
							<li>If you have been in prescription accutane in the past, you MUST wait at least a year before considering this procedure.</li>
							<li>Botox should be done 1 month before or 2 weeks after the procedure.</li>
							<li>Do not have any type of facial/peel 2 weeks prior to treatment.</li>
							<li>Avoid exercising the day of procedure as this will open up the pores.</li>
							<li>Please note that you will be more sensitive during your menstrual cycle, try not to book your appointment during this time.</li>
							<li>No waxing, threading or tinting 2 days before. If there are stray hairs, I can remove them.</li>
						</ul>
						<br>
						<h2>Aftercare:</h2>
						<hr/>
						<h3>Day One</h3>
						<ul>
							<li>If your brows are oozing plasma and/or blood after the procedure, take a wet q-tip and gently wipe away the excess every two hours until bedtime. This will prevent a thick scab from forming.</li>
							<li>When washing your face, avoid washing in the brow area.</li>
							<li>Avoid the shower head stream to hit you directly in the face for the first 4-5 days.</li>
							<li>Gently pat your brows with a clean towel to ensure the tattoo is completely dry.</li>
						</ul>
						<h3>Days 2-4</h3>
						<ul>
							<li>After day 2, there should be no oozing or blood. Keep them clean and dry and allow them to breathe so they can heal.</li>
							<li>Avoid excessive sweating for the next few days as the skin is still open. (i.e. gym, working out). Once the area has healed over it is fine to resume exercise.</li>
						</ul>
						<h3>Days 4-6</h3>
						<ul>
							<li>The brow area will be dry and start to scab. You may experience itching and flaking.</li>
							<li>Apply a thin layer of coconut oil, vaseline, vitamin A & D ointments, or grape seed oil as needed to aid with the flaking and itchiness.</li>
							<li>Do not pick at scabs or peeling skin during this phase.</li>
						</ul>
						<h3>Days 6-12</h3>
						<ul>
							<li>The scabs will begin to flake off exposing a faint tattoo underneath.</li>
							<li>The tattoo will look foggy and light in colour, some strokes may seem to have disappeared. The sharpness will return gradually as the dead skin slowly sloughs off over the next couple weeks.</li>
						</ul>
						<h3>Days 12-30</h3>
						<ul>
							<li>There is generally a very thin layer of dead skin covering the area at this stage, which is contributing to lack of sharpness however this dead skin will continue to flake off over the next couple weeks.</li>
							<li>The upper layers of the skin heal faster than the layers below.  Although your tattoo might look great at this point, your skin is still healing underneath.</li>
						</ul>
						<br>
						<h2>DO NOT...</h2>
						<hr/>
						<ul>
							<li>Pick, scratch, and peel the scabs . Doing so can cause the pigment to be pulled off. Allow the scabs to fall off naturally. </li>
							<li>Expose your tattoo to sun for at least 30 days. Once your tattoo has healed, you can apply sunscreen to the area when going out in the sun. Constant exposure to the sun can cause the tattoo to fade prematurely.</li>
							<li>Get water in the area and around the brows. No swimming, saunas or steam rooms for two weeks. You want the area to stay dry.</li>
							<li>No moisturizers or makeup on the brow area until wounds are scabbed up</li>
							<li>Do not apply Polysporin, Vaseline or any product containing Lanolin or healing agents.</li>
						</ul>
				</div>
			</div>
		</div>
	</div>
</div>
