

<nav id="mainNav" class ="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavBar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand slide-section" href="#top">Scheduler</a>
      </div>

      <div class="collapse navbar-collapse" id="myNavBar">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class ="slide-section" href="#about">About</a>
          </li>
          <li>
            <a class ="slide-section" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div> <!-- container fluid -->
  </nav>