@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Poppins:300');



#header-img {
  max-width: 300px;
  max-height: 300px;
  height: auto;
  width: auto;
}

.navbar-default{
  background-color: pink;
  border-color: pink;
}

.navbar-nav > li{
  margin-left: 30px;
  margin-right: 30px;
  font-size: 16px;
}

.navbar-nav a:focus{
  text-decoration: underline;
  background-color: pink;
}

.dropdown-menu > li{
  font-size: 16px;
}

.dropdown-menu li:hover{
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
    background-color: pink;
}

.dropdown-list{
  color: grey;
}

.dropdown-list:hover{
  color: black;
  background-color: pink;
}

.navbar-nav>li.dropdown>a.dropdown-toggle{
  pointer-events: none;
}


.banner-img{
  text-align: center;
}


.navbar-default .navbar-toggle:hover{
  background-color: pink;
}

.nav li{
  left: 20%;
}

.show .dropdown-menu{
  display: block;
  background-color: pink;
  border-style: none;
  box-shadow: none;
}
