<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <!-- <div class=" header-div"> -->



      <nav class='navbar navbar-default navbar-expand-lg'>
        <div class='container-nav'>
          <!-- mobile view -->
          <div class='navbar-header'>
            <button type="button" (click)="isCollapsed = !isCollapsed" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- links for toggling -->
          <div class="collapse navbar-collapse justify-content-center" [ngbCollapse]="isCollapsed">
            <ul class="nav navbar-nav">
              <li>
                <a routerLink="">Home</a>
              </li>
              <li>
                <a routerLink="/gallery">Portfolio</a>
              </li>
              <li>
                <a routerLink="/booking">Booking</a>
              </li>
              <li>
                <a routerLink="/rates">Rates</a>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">About</a>
                <ul class="dropdown-menu">
                  <li>
                    <a class ="dropdown-list" routerLink="/faq">FAQ</a>
                  </li>
                  <li>
                    <a class ="dropdown-list" routerLink="/aftercare">After Care</a>
                  </li>
                  <li>
                    <a class ="dropdown-list" routerLink="/policies">Policies</a>
                  </li>
                  <li>
                    <a class ="dropdown-list" routerLink="/contact">Contact</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <header class ='banner-img'>
      <a class="header" routerLink="/">
        <img id='header-img' src="assets/images/ada-logo2.png" alt="browswithada">
      </a>

    </header>
  <!-- </div> -->
</div>
