<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<div class="container">
	<div class="row justify-content-center">
		<div class="col-12 body-main">
                <div class="panel">
                    <div class="panel-heading">
                        <h1>scheduling</h1>
                    </div>
                <div class="panel-body">
                    <div class="col-6 col-lg-6 col-md-6 col-sm-6">
                            <h2>Looking to make an appointment?</h2>
                            <hr/>
                        <p>
                           Fill in the required fields on the right with your contact information as well as the requested time and we will get back to you as soon as possible if we have the time available for you. 
                           <br><br> Please note that our business hours are from 10:00AM - 7:00PM from Monday to Friday. Each appointment can last anywhere from 2 to 3 hours, please allocate enough time for your scheduled appointment.
                        </p>
                    </div>
                    <div class="col-6 col-lg-6 col-md-6 col-sm-6">
                    <form role="form" method="post" action="https://script.google.com/macros/s/AKfycbxrZdSrah88Qah8Ksm8bBcXMPiZpVXlXc4An4MSKQ/exec">
                      <div class="panel rounded-0">
                            <div class="panel-heading p-0">
                                <div class="bg-main-1 text-white text-center py-2">
                                    <h3><i class="fa fa-envelope"></i> Request a Booking</h3>
                                    <p class="m-0">Fill out the info below to request a booking!</p>
                                </div>
                            </div>
                            <div class="panel-body p-3">

                                <!--Body-->
                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-user text-info"></i></div>
                                        </div>
                                        <input type="text" [(ngModel)]='firstName' class="form-control" id="first_name" name="first_name" placeholder="first name" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-user text-info"></i></div>
                                        </div>
                                        <input type="text" [(ngModel)]='lastName' class="form-control" id="last_name" name="last_name" placeholder="last name" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class=" fa fas fa-phone text-info"></i></div>
                                        </div>
                                        <input type="text" [(ngModel)]='phone' class="form-control" id="phone" name="phone" placeholder="phone number" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-envelope text-info"></i></div>
                                        </div>
                                        <input type="email" [(ngModel)]='email' class="form-control" id="email" name="email" placeholder="email" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-calendar-alt text-info"></i></div>
                                        </div>
                                        <input required [(ngModel)]='date' name="date" type="date" class="form-control" placeholder="date of booking">
                                      </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-clock text-info"></i></div>
                                        </div>
                                        <input required [(ngModel)]='time' name="time" min="10:00" max="16:00" step="10800" type="time" class="form-control" placeholder="time of booking">
                                      </div>
                                </div>
                                <div class="text-left">
                                    <input style="width: 40%;" class="btn bg-main-1" (click)="submit()" value="✓">
                                    <input style="width: 40%; float: right;" class="btn bg-main-1" type="reset" value="x">
                                </div>
                            </div>
                        </div>
                    </form>
                    <ngx-braintree 
                    [clientTokenURL]="'http://localhost:3000/client_token'" 
                    [createPurchaseURL]="'http://localhost:3000/pay'" 
                    [chargeAmount]="10.00"
                    (paymentStatus)="onPaymentStatus($event)">
                    </ngx-braintree>
                    </div> <!-- panel -->
                </div>
                    <!--Form with header-->


                </div>
	</div>
</div>