<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<div class="container">
	<div class="row justify-content-center">
		<div class="col-12 body-main">
			<div class="panel">
				<div class="panel-heading text-center">
					<h1>Contact</h1>
				</div>
				<div class="panel-body">
					<div class='col-6 col-lg-6 col-md-6 col-sm-6'>
						<h2>Email:</h2>
						<hr/>
						<p>
							<a href="mailto:adashum@hotmail.com">adashum@hotmail.com</a>
						</p>
						<br>
						<h2>Phone:</h2>
						<hr/>
						<p>
							778-233-3682
						</p>
						<br>
						<h2>Instagram:</h2>
						<hr/>
						<p>
							<a href="https://www.instagram.com/ada.artistry/?hl=en">@ada.artistry </a>
						</p>
				</div>
				<div class='col-6 col-lg-6 col-md-6 col-sm-6'>
					<form action="action_page.php">
						<label for="fname">First Name</label>
						<input type="text" id="fname" name="firstname" placeholder="Your name..">
						<label for="lname">Last Name</label>
						<input type="text" id="lname" name="lastname" placeholder="Your last name..">
						<label for="email">Email</label>
						<input type="text" id="email" name="email" placeholder="Your last email..">
						<label for="subject">Subject</label>
						<textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
						<input type="submit" value="Submit">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>