<!--footer start from here-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 footer-col">
        <div class="logofooter">@browswithada</div>
        <p>This is placeholder text, to find out more checkout @browswithada</p>
        <p><i class="fa fa-map-pin"></i>Based in Vancouver, British Columbia, Canada</p>
        <p><i class="fa fa-phone"></i> Placeholder number: 999 999 9999</p>
        <p><i class="fa fa-envelope"></i> E-mail : ada@theshumclan.com</p>
        
      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">quick links</h6>
        <ul class="footer-ul">
          <li><a routerLink=""> home</a></li>
          <li><a routerLink="/about"> about</a></li>
          <li><a routerLink="/booking"> booking</a></li>
          <li><a routerLink="/faq"> faq</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">latest posts</h6>
        <div class="post">
          <p>Hello world!<span>September 4, 2018</span></p>
          <p>My name is d _ _ k <span>August 3, 2017</span></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">social media</h6>
        <ul class="footer-social">
          <li><i id="social-fb" class="fa fa-accessible-icon social-icon social facebook" aria-hidden="true"></i></li>
          <li><i id="social-tw" class="fa fa-twitter social-icon social twitter" aria-hidden="true"></i></li>
          <li><i id="social-gp" class="fa fa-google-plus social-icon social google" aria-hidden="true"></i></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--footer start from here-->

<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>© 2018 - All Rights with CLAY productions</p>
    </div>
    <div class="col-md-6">
      <ul class="bottom_ul">
        <li><a href="#">clayprod.com</a></li>
        <li><a href="#">about the developers</a></li>
        <li><a href="#">faq</a></li>
        <li><a href="#">contact us</a></li>
        <li><a href="#">site map</a></li>
      </ul>
    </div>
  </div>
</div>