<!--footer start from here-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 footer-col">
        <div class="logofooter">Ada's Artistry Microblading Salon</div>
        <p><i class="fa fa-map-pin"></i>Location</p>
        <p>1234 Hamilton Way<br> West Vancouver, BC V1Z 1A0</p>
        <p><i class="fa fa-phone"></i> Phone<br> 999 999 9999</p>
        <p><i class="fa fa-envelope"></i> E-mail <br> adashum@hotmail.com</p>
      </div>
      <div class="col-md-4 col-sm-6 footer-col">
        <h6 class="heading7">Hours</h6>
        <ul class="footer-ul">
          <li>Monday 10:00 AM - 7:00 PM</li>
          <li>Tuesday 10:00 AM - 7:00 PM</li>
          <li>Wednesday 10:00 AM - 7:00 PM</li>
          <li>Thursday 10:00 AM - 7:00 PM</li>
          <li>Friday 10:00 AM - 7:00 PM</li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-6 footer-col">
        <h6 class="heading7">Social Media</h6>
        <ul>
          <li><i id="social-fb" class="fa-facebook-f facebook social-icon social fab " aria-hidden="true"></i> ada's artistry</li>
          <li><i id="social-tw" class="fab fa-twitter social-icon social twitter" aria-hidden="true"></i> @adaartistry</li>
          <li><a href="https://www.instagram.com/browswithada/?hl=en"><i id="social-ig" class="fab fa-instagram social-icon social instagram" aria-hidden="true"></i></a> @browswithada</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--footer start from here-->

<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>© 2018 - All Rights with CLAY productions</p>
    </div>
    <div class="col-md-6">
      <ul class="bottom_ul">
        <li><a href="#">clayprod.com</a></li>
        <li><a href="#">about the developers</a></li>
        <li><a href="#">faq</a></li>
        <li><a href="#">contact us</a></li>
        <li><a href="#">site map</a></li>
      </ul>
    </div>
  </div>
</div>